In [2]:
import numpy as np

student = np.array([67, 78, 92, 74, 65])
student
student[0]
student[4]

65

In [4]:
import pandas as pd

s1 = pd.Series([67, 78, 92, 74, 65],index=['國文','英文','數學','地理','歷史'])
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [5]:
s1 +3

國文    70
英文    81
數學    95
地理    77
歷史    68
dtype: int64

In [6]:
s1['國文'] #使用key-index
s1[0] #使用原生-index

/tmp/ipykernel_39015/3821365550.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0] #使用原生-index

67

In [7]:
for i in s1:
    print(i)

67
78
92
74
65

In [8]:
#numpy的統計,可以套用在pandas
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [9]:
#利用numpy的function做統計
np.sum(s1)

376

In [10]:
np.mean(s1)

75.2

In [11]:
np.std(s1)

9.620810776644555

In [12]:
np.median(s1)

74.0

In [13]:
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [17]:
import pandas as pd
pd.DataFrame({
   '林峻儀':[78, 92, 76, 91, 72],
   '王xx' :[85, 96, 21, 75, 35],
   '張xx':[24, 84, 31, 75, 87],
},index=['國文','英文','數學','地理','歷史'])

    林峻儀  王xx  張xx
國文   78   85   24
英文   92   96   84
數學   76   21   31
地理   91   75   75
歷史   72   35   87