In [22]:
class student:
    def __init__(self,name:str,chinese:int,english:int,math:int) :
        #實體的attribute
        self.name = name
        self.chinese = chinese
        self.english = english
        self.math = math
    
    #實體的方法method
    def total(self)->int:
        return self.chinese + self.english + self.math

In [19]:
stu1 = student("林峻儀",92,75,100)
display((stu1.name, stu1.chinese ,stu1.english ,stu1.math))
stu1.total()

('林峻儀', 92, 75, 100)

267

In [23]:
stu2 = student(name="張嘉芬",chinese=45,english=85,math=45)
display((stu2.name, stu2.chinese ,stu2.english ,stu2.math))
stu2.total()

('張嘉芬', 45, 85, 45)

175

In [21]:
stu1.name ,stu2.name

('林峻儀', '張嘉芬')

In [24]:
stu3 = student(name="黃嘉嘉",chinese=85,math=95,english=85)
display((stu3.name, stu3.chinese ,stu3.english ,stu3.math))
stu3.total()

('黃嘉嘉', 85, 85, 95)

265