In [2]:
import numpy as np

student = np.array([67, 78, 92, 74, 65])
student
student[0]
student[4]

65

In [4]:
import pandas as pd

s1 = pd.Series([67, 78, 92, 74, 65],index=['國文','英文','數學','地理','歷史'])
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [5]:
s1 +3

國文    70
英文    81
數學    95
地理    77
歷史    68
dtype: int64

In [6]:
s1['國文'] #使用key-index
s1[0] #使用原生-index

/tmp/ipykernel_39015/3821365550.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0] #使用原生-index

67

In [7]:
for i in s1:
    print(i)

67
78
92
74
65

In [8]:
#numpy的統計,可以套用在pandas
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [9]:
#利用numpy的function做統計
np.sum(s1)

376

In [10]:
np.mean(s1)

75.2

In [11]:
np.std(s1)

9.620810776644555

In [12]:
np.median(s1)

74.0

In [13]:
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [17]:
import pandas as pd
pd.DataFrame({
   '林峻儀':[78, 92, 76, 91, 72],
   '王xx' :[85, 96, 21, 75, 35],
   '張xx':[24, 84, 31, 75, 87],
},index=['國文','英文','數學','地理','歷史'])

    林峻儀  王xx  張xx
國文   78   85   24
英文   92   96   84
數學   76   21   31
地理   91   75   75
歷史   72   35   87

In [20]:
import numpy as np
import pandas as pd

data = np.random.randint(60,high=100,size=(50,5))
pd.DataFrame(data,
             index = range(1,51),
             columns=['國文','英文','數學','地理','歷史']
             )

    國文  英文  數學  地理  歷史
1   97  65  74  76  88
2   96  86  99  78  60
3   85  61  84  64  64
4   84  78  75  64  65
5   71  73  83  85  91
6   85  77  71  83  96
7   96  83  75  60  70
8   91  77  82  99  87
9   82  73  70  63  80
10  60  74  68  79  84
11  91  67  81  75  72
12  89  96  64  90  81
13  63  68  60  74  67
14  65  68  62  80  99
15  73  62  74  82  89
16  63  71  71  69  99
17  63  99  81  74  65
18  85  65  73  76  84
19  69  65  61  60  75
20  69  90  98  76  78
21  72  76  78  95  89
22  84  92  75  91  90
23  84  79  64  81  64
24  97  69  66  78  71
25  86  64  68  73  89
26  70  95  77  68  61
27  99  67  70  91  87
28  81  70  86  65  67
29  61  72  68  86  63
30  76  86  91  73  80
31  75  75  63  72  80
32  99  64  71  98  99
33  88  73  66  63  68
34  89  60  89  99  63
35  62  63  84  86  84
36  65  84  93  67  82
37  68  70  91  73  70
38  71  94  95  89  63
39  66  99  73  74  89
40  66  84  97  69  66
41  91  71  92  75  87
42  68  96  89  71  99
43  62  91  81  76  91
44  60  68  74  81  66
45  94  61  75  61  74
46  86  98  60  65  73
47  88  80  64  73  99
48  69  68  77  78  70
49  71  84  84  97  99
50  74  65  64  72  86